JWT_SECRET=your_real_jwt_secret_here
JWT_EXPIRES_IN=your_expire_duration

RAZORPAY_KEY_ID=your_real_razorpay_key_id
RAZORPAY_KEY_SECRET=your_real_razorpay_key_secret

GMAIL_EMAIL=your_gmail_address_here
GMAIL_PASS=your_gmail_app_password_here